<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @service.user.email %>
<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @service.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @service.end_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @service.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @service.price, unit: '€ ' %>
</p>

<p>
  <strong>Tasks:</strong>
  <%= @service.list_of_tasks %>
</p>



<% if can? :update, service %>
  <%= link_to 'Edit', edit_service_path(@service) %>
<% end %>
<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
