<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :begin_date %>
    <%= f.datetime_select :begin_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :total_price %>
    <%= f.text_field :total_price %>
  </div>

<% if @service |= nil %>
  <div class="field">
    <%= f.hidden_field :service_id, :value => @service.id %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
