<h1>New Booking for <%= @service.name %></h1>

<p><%= @service.user.email %> will be available</p>
<p>from: <%= @service.begin_date.strftime("%d %B %Y") %></p>
<p>untill <%= @service.end_date.strftime("%d %B %Y") %></p>

<% if can? :create, Booking %>
  <%= render 'form', booking: @booking, service_id: params[:format] %>
<% else %>
  <p>Sign in to create a booking</p>
<% end %>

<%= link_to 'Back', bookings_path %>

<!-- <%= "blabla #{params[:format]}" %> -->
