<!DOCTYPE html>
<html>
  <head>
    <title>HelpForHire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="topleft">
          <a href="/"><h1>Help for hire</h1></a>
        </div>
        <div class="topright">
          <ul>
            <% if !user_signed_in? %>
              <li><%= link_to "Log In", new_user_session_path %></li>
            <% else %>
              <li><span class="login-text"><%= current_user.email %></span></li>
              <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>

    <nav>
      <ul class="nav-bar">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="services">Help me<a>
        </li>
        <li>
          <a href="services/new">Help someone<a>
        </li>
    </nav>

    <div class="maincontent">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <h3 class="foot_text">we can't help everyone but everyone can help someone</h3>
        <ul>
          <li>Amsterdam, Netherlands</li>
          <li>Weesperstraat 61</li>
          <li>020 - 555 555</li>
          <li>help@forhire.com</li>
        </ul>

      </div>
    </footer>
  </body>
</html>
